<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Task</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title() }}<br>
        {{ form.description.label }} {{ form.description() }}<br>
        {{ form.priority.label }} {{ form.priority() }}<br>
        {{ form.due_date.label }} {{ form.due_date() }}<br>
        {{ form.status.label }} {{ form.status() }}<br>
        {{ form.submit() }}
    </form>
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>